// COLORS
$color-primary: #1ed760;
$color-primary-dark: #1db954;
$color-primary-light: #19e68c;
$color-secondary-light: #1d75de;
$color-secondary: #2f4ac2;
$color-secondary-dark: #2940a8;

$color-grey: #a5a5a5;
$color-grey-light: rgb(211, 211, 211);
$color-grey-medium: rgb(109, 109, 109);
$color-grey-dark: #222326;
