// PREMIUM HEADER
.h1--premium {
	animation: moveInFromLeft 1s ease-out;
}

.h2--premium {
	animation: moveInFromRight 1s ease-out;
}

.header__button-container {
	display: flex;
	gap: 2rem;
}

.terms-conditions {
	font-size: 1.1rem;

	&__link {
		color: #fff;
		border-bottom: 1px solid #fff;
	}
}

// BENEFITS SECTION

.benefits {
	color: $color-grey-dark;
	padding: 8rem 2rem 9rem 2rem;
	text-align: center;

	&__title {
		font-size: 4.8rem;
		margin-bottom: 5rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
		column-gap: 5rem;
		width: 80%;
		margin: 0 auto;
	}

	&__image {
		height: 15rem;
	}

	&__text--main {
		font-size: 2rem;
		font-weight: 600;
		margin-top: 2.5rem;
		margin-bottom: 0.8rem;
	}

	&__text--secondary {
		font-size: 1.5rem;
	}
}

// CATEGORIES SECTION
.categories--premium {
	background-color: rgb(241, 241, 241);
	text-align: center;
	padding: 8rem 2rem;

	&__title {
		color: $color-grey-dark;
		font-size: 3.5rem;
		line-height: 1.2;
	}
}
