// PREMIUM HEADER
.h1--premium {
	animation: moveInFromLeft 1s ease-out;
}

.h2--premium {
	animation: moveInFromRight 1s ease-out;
}

.header__button-container {
	display: flex;
	gap: 2rem;
}

// BENEFITS SECTION

.benefits {
	color: $color-grey-dark;
	padding: 8rem 2rem 9rem 2rem;
	text-align: center;

	&__title {
		font-size: 4.8rem;
		margin-bottom: 5rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
		column-gap: 5rem;
		width: 80%;
		margin: 0 auto;
	}

	&__image {
		height: 15rem;
	}

	&__text--main {
		font-size: 2rem;
		font-weight: 600;
		margin-top: 2.5rem;
		margin-bottom: 0.8rem;
	}

	&__text--secondary {
		font-size: 1.5rem;
	}
}

// CATEGORIES SECTION
.categories--premium {
	background-color: rgb(241, 241, 241);
	padding: 8rem 2rem;

	&__title {
		text-align: center;
		color: $color-grey-dark;
		font-size: 3.5rem;
	}

	&__container {
		width: 110rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, max-content);
		grid-auto-flow: column;
		column-gap: 1.5rem;

		& > * {
			padding: 1.6rem;
			background-color: #fff;
			margin-bottom: 1rem;
			border-radius: 1rem;
			box-shadow: 0 2rem 4rem rgba(black, 0.1);
		}

		// select every fourth direct child
		// & > :nth-child(4n) {
		// 	border-radius: 0 0 1rem 1rem;
		// }
	}

	&__overview {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1.5rem;
		font-weight: 600;

		color: $color-grey-dark;
		border-radius: 1rem;
	}

	&__free {
		color: #fff;
		font-size: 1.3rem;
		font-weight: 600;
		padding: 4px 8px;
		border-radius: 4px;
		margin-bottom: 1rem;
		background-color: $color-secondary-light;
	}

	&__name {
		font-size: 2rem;
	}

	&__benefits {
		color: $color-grey-dark;
		font-size: 1.4rem;
		font-weight: 600;
		padding: 2rem;
	}

	&__benefit {
		display: flex;
		gap: 1rem;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&::before {
			content: '\2713';
			font-size: 2.5rem;
			position: relative;
			top: -5px;
			color: $color-secondary;
		}
	}

	&__button-container {
		background-color: transparent;
		text-align: center;
		box-shadow: none;
	}
}
